body{
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    height: 100vh;
    width: 100vw;

    height: 100vh;
    width: 100vw;
}
.principal-01 {

    display: flex;
    flex-direction: row;  
}
.principal-02 {

    display: flex;
    flex-direction:row; 
}
.rectangulo01 {

    height: 20em;
    width: 10em;

    background-color: rgb(189, 127, 255);
    margin-top: 2em;
    margin-left: 2em;
}

.rectangulo02 {

    height: 20em;
    width: 10em;
    background-color: rgb(128, 0, 0);
    margin-top: 2em;
    margin-left: 2em;
}
.rectangulo03 {

    height: 20em;
    width: 10em;
    background-color: rgb(109, 128, 0);
    margin-top: 2em;
    margin-left: 2em;
}
.rectangulo04 {

    height: 20em;
    width: 10em;
    background-color: rgb(70, 0, 128);
    margin-top: 2em;
    margin-left: 2em;
}

@media (max-width: 700px) {
    .principal-01 {
        
        flex-direction: column;
    }
    /* Media Queries
    Las Media Queries son un tipo de consulta en base a las características del dispositivo que nos
    permiten adaptar el diseño de nuestra web en función de si esta consulta se resuelve con true o
    false. */
    @media (max-width: 700px) {
        .principal-02 {
            
            flex-direction: column;
        }
    }
}
